<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdnlines.html' %}
  </head>
  <style media="screen">
    input[name]{
      margin-top:8px;
    }
    input[value]{
      margin-top:2px;
    }
    form{
      padding:10px;
      box-shadow:0px 0px 5px blue,0px 0px 5px pink;
      border-radius:5px;
    }
  </style>
  <body>
    <div class="container">
      <div class="row">
        <div class="offset-md-4 col-md-4">
          <h4 clas="text-center"> EMPLOYEES INFORMATION</h4>
          <form  method="POST" action="{% url 'updating_emp' emp.id %}" >
            {% csrf_token%}
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="fname" class="form-control" placeholder="First Name" value={{emp.first_name}}>

              </div>
              <div class="col-md-6">
                <input type="text" name="lname" class="form-control" placeholder="Last Name" value={{emp.last_name}}>

              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <input type="email" name="email" class="form-control" placeholder="Email" value={{emp.email}}>

              </div>
              <div class="col-md-6">
                <input type="number" name="mobile" class="form-control" placeholder="Mobile" value={{emp.mobile}}>

              </div>

            </div>


            <div class="row">
              <div class="col-md-6">
                <input type="text" name="company" class="form-control" placeholder="Company" value={{emp.company}}>

              </div>
              <div class="col-md-6">
                <input type="number" name="salary" class="form-control" placeholder="Salary" value={{emp.salary}}>

              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <input type="text" name="location" class="form-control" placeholder="Location" value={{emp.location}}>

              </div>
              <div class="col-md-6">
                <input type="number" name="expirence" class="form-control" placeholder="Expirence" value={{emp.expirence}}>

              </div>

            </div>

            <center>
              <input type="submit" value="update" class="btn btn-success text-white">
              <input type="reset"  value="delete" class="btn btn-danger text-white">
              </center>




          </form>

        </div>

      </div>

    </div>
    <div class="text-center">
      <a href="home" class="btn btn-primary mb-5">Go to main Page</a>

    </div>

  </body>
</html>
