<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include 'cdnlines.html' %}
  <head>
    <meta charset="utf-8">
    <title>Aplication Form</title>

  </head>
  <body>
    <h1>LIVE SMARTER</h1>
    <h4>Flex is hiring freshers for the role of System Analyst. The details of the job, requirement and other information is given below:</h4>
    <h2>FELX:SYSTEM ANALASISTY</h2>
    <ul>
      .0-2 years of hands on in handling SQL Queries.
    </ul>
    <ul>
      .Experience in identifying and resolving technical issues in SQL environment.
    </ul>
    <ul>
      .Ware house/ Red Prairie functional knowledge would be added advantage.
    </ul>
    <a href="{% url 'home/' %}" >CLICK HERE</a>

  </body>
</html>
