{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- <img src="{% static 'images/logo2.jpg' %}"  style="width:3%; height:3%;"> -->



  <a class="navbar-brand ml-3" href="#">NTH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home/' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact/' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'service/' %}">Serviece</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'feedback/' %}">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'gallery/' %}">Gallery</a>
      </li>
    </ul>
  </div>
  <div class="text-right">
    <a href="#" class="text-white"> Hello {{request.user|capfirst}},</a>
    <a href="{% url 'logout/' %}" class="text-white"> Logout</a>

  </div>
</nav>
