
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdnlines.html' %}

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class='text-center'>Students Data Table</h1>
          <div class="text-right mb-2">
            <a href="{% url 'add' %}" class="btn-success text-white btn btn-lg">ADD NEW STUDENT</a>
          </div>
          {% if abcd %}
          <table class="table table-bordered text-center">
            <thead class="bg-success text-white">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Id</th>
                <th>Mobile</th>
                <th>Course</th>
                <th>Fee</th>
                <th>Location</th>
              </tr>

            </thead>
            <tbody class="bg-dark text-white">
              {% for i in abcd %}
              <tr>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.course}}</td>
                <td>{{i.fee}}</td>
                <td>{{i.location}}</td>
              </tr>
              {% endfor %}
            </tbody>      
          </table>
          {% else %}
          <h1 class="text-center">Student data not Available</h1>
          {% endif %}

        </div>

      </div>

    </div>

  </body>
  </html>
