<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    <title></title>
  </head>
  <body>
    <h1 class="text-center">EmployeData</h1>
    <table class="table text-center table-bordered">
      <thead class="bg-success text-white">
        <tr>
          <th>First Name</th>
          <th>Last name</th>
          <th>Email ID</th>
          <th>Salary</th>
          <th>Company</th>
          <th>Location</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody class="bg-dark text-white">
        {% for i in employees %}
        <tr>
          <td>{{i.first_name}}</td>
          <td>{{i.last_name}}</td>
          <td>{{i.email}}</td>
          <td>{{i.salary}}</td>
          <td>{{i.company}}</td>
          <td>{{i.location}}</td>
          <td>{{i.address}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </body>
</html>
