<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <title></title>
      {% include 'cdnlines.html' %}
  </head>
  <style media="screen">
    .jumbotron{
      margin-top:30px;
      margin-left:200px;
      margin-right:200px;
      background-color:limegreen;
    }
    h1{
      margin-top:100px;

    }
    body{
      background-color:#00bfff;
    }
  </style>
  <body>
    <h1 class="text-center font-weight-bold">Welcome to Employee Information</h1>
    <div class="jumbotron">
      <a href="{% url 'Hyd'%}" class='btn bg-primary text-white mr-5 ml-5 btn-lg'>Hydarabad</a>
      <a href="{% url 'Bang'%}" class='btn bg-warning text-white mr-5 ml-5 btn-lg'>Bangalor</a>
      <a href="{% url 'Che'%}" class='btn bg-dark text-white mr-5 ml-5 btn-lg'>Chennai</a>
      <a href="{% url 'Pune'%}" class='btn bg-danger text-white mr-5 ml-5 btn-lg'>Pune</a>


    </div>
  </body>
</html>
