<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
    {% include 'cdnlines.html' %}
    <style media="screen">
      h4{
        font-size:20px;
        text-align:center;
        margin-top:20px;
        text-shadow:0px 0px 10px yellow,0px 0px 10px gray ;

      }
    </style>
  </head>
  <body>
    <h1 class="text-center"><b>Nagesh is my bestfriend </b></h1>
    <h4><em>he is my one and only best friend  his nevergiveup in my entairlife </em></h4>
    <h4><i>He is Most Importtent Person in My Life</i></h4>
    <h4><small>He is Most slfieshperson</small> and Caringperson allso</h4>
    <h4><strong>He is Handsome Person</strong></h4>
    <h4><li>He is Allwasy Wanted to me</li></h4>
    <h4><link rel="stylesheet" href="/css/master.css">goodperson allso</h4>
    <h4><sub>His Smaill is so cute</sub>Nagesh</h4>
    <h4><sup>He is cuatest Person</sup>NageshSpf</h4>
    <h4><mark>500</mark></h4>
    <h4>strick</h4>

  </body>
</html>
