{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    <title></title>
  </head>
  <style media="screen">
    h1{
      margin-top:80px;
      text-align: center;
    }
    form{
      box-shadow:0px 0px 10px pink,0px 0px 5px red;
      background-image:url({% static "images/ran12.jpg"%});
      background-repeat: no-repeat;
      background-size: cover;
    }
    body{
  background-image:url({% static "images/ran2.jpg"%});
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  width:100%;

}
  </style>
  <body>
    <h1 class="text-center mt-3 text-danger ">Welcome to Flaitbooking Page</h1>
    <div class="container">
      <div class="row">
        <div class="offset-md-4 col-md-6">
          <form  method="POST" class="mt-4">
            {% csrf_token %}
            <label class="text-white mt-2">First Name</label>
            <input type="text" name="fname" placeholder="Enter your name" class="form-control " >
            <label class="text-white mb-2">Last Name</label>
            <input type="text" name="lname" placeholder="Enter you last namer" class="form-control mt-2">
            <label class="text-white mb-2">StatingPlace</label>

            <input type="text" name="sp" placeholder="Enter your startingplace" class="form-control mt-2">
            <label class="text-white mb-2">Dsitination Place</label>
            <input type="text" name="dp" placeholder="Enter your destinationplace" class="form-control mt-2">
            <center>
               <input type="submit"  value="book" class="btn bg-success">
              <input type="reset" class="btn bg-danger"  value="clear">
            </center>
          </form>

          <div class="text-right">
            <a href="{% url 'add' %}" class="btn bg-dark text-white mt-2">Go to main Page</a>
            <a href="{% url 'display' %}" class="btn bg-dark text-white mt-2">Display Page</a>

          </div>
          <!-- <div class="text-center">
            <a href="{% url 'add' %}" class="btn bg-dark text-white mt-2">Go to main Page</a>
            <a href="{% url 'display' %}" class="btn bg-dark text-white mt-2">Display Page</a>

          </div> -->
          {% if abc %}
          {% for i in abc %}
          {{i.form}}
          <!-- {{i.first_name}}
          {{i.last_name}}
          {{i.first_name}}
          {{i.Startin_place}}
          {{i.Destinatio_place}} -->
          {% endfor %}
          {% else %}
          <h1>form not avabile</h1>
          {% endif %}

        </div>

      </div>

    </div>
    <!-- <div class="text-center">
      <a href="{% url 'add' %}" class="btn bg-dark text-white mt-2">Go to main Page</a>
      <a href="{% url 'display' %}" class="btn bg-dark text-white mt-2">Display Page</a>

    </div> -->
    <!-- <div class="text-center">
      <a href="{% url 'add' %}" class="btn bg-dark text-white mt-2">Go to main Page</a>
      <a href="{% url 'display' %}" class="btn bg-dark text-white mt-2">Display Page</a>

    </div> -->


  </body>
</html>
