{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    <title></title>

  </head>
  <style media="screen">
    body{
  background-image:url({% static "images/rani5.jpg"%});
  background-repeat: no-repeat;
  background-size: cover;
}

  </style>
  <body>
    <h2 class="text-center mt-5 text-dark font-weight-bold ">Filght booking members information</h2>
    <div class="text-right">
      <a href="{% url 'add' %}" class="btn bg-danger txext-white mb-2"> Main Page</a>
      <a href="{% url 'main/' %}" class="btn bg-warning txext-white mb-2">Booking Page</a>

    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          {% if abc %}
          <table class="table table-bordered text-center">
            <thead class="bg-success text-white">
              <tr>
                <th>First name</th>
                <th>last name</th>
                <th>starting place</th>
                <th>Destination place</th>
                <th>Seats</th>
              </tr>
            </thead>
            <tbody class="bg-dark text-white">
              {% for i in abc %}
              <tr>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.Startin_place}}</td>
                <td>{{i.Destinatio_place}}</td>
                <td>{{i.Seates}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table >
          {% else %}
          <h1>information not avabile</h1>
          {% endif %}

        </div>

      </div>

    </div>

  </body>
</html>
