{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    <title></title>
    <style media="screen">
      h1{
        color:orange;
      }
      body{
        background-image:url({% static "images/gd11.jpg"%});
        background-repeat: no-repeat;
        background-size: cover;
        height:100%;
        width:100%;

      }


    </style>
  </head>
  <body>
    <h1 class="text-center mt-4 font-weight-bold">Student First Name</h1>
    {% if abc %}
    {% for i in abc %}
    <a href="{% url 'data' i.id %}" class="btn form-control text-danger  font-weight-bold">{{i.first_name}}</a>
    {% endfor %}

    {% else%}
    <h1 class="text-center mt-4">Student Data not Avabile</h1>
    {% endif %}
    <div class=" text-center mt-4">
      <a href="{% url 'add' %}" class="btn btn-primary btn-lg"> Add student</a>

    </div>


  </body>
</html>
